body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-image: linear-gradient(
    to left top,
    #cadd60,
    #f5d376,
    #ffcd9a,
    #ffcfbe,
    #f7d8d8
  ); */
  background-color: rgba(0, 0, 0, 0.4);
}

#main-content {
  margin: 0.5vw;
}

.header {
  display: flex;
  position: sticky;
  top: 0.5vh;
  border-radius: 1.5rem;
  box-shadow: 10px, 10px, 4px, 2px, rgba(123, 121, 121, 0.75);
}

.header a {
  color: #191d0e;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(
    to right top,
    #e0dcc6,
    #9bb09c,
    #5b837f,
    #285665,
    #142943
  );
  border-radius: 50%;
}

.header a:hover {
  background-image: linear-gradient(
    to bottom left,
    #e0dcc6,
    #9bb09c,
    #5b837f,
    #285665,
    #142943
  );
}

.header > a {
  font-size: 2vh;
  font-weight: bold;
  margin-right: 50vw;
  padding: 2vw;
  border: darkblue 10px inset;
  display: flex;
  color: #444939;
  background: linear-gradient(
    to right bottom,
    #2d3705,
    #4b5f09,
    #6a8b0b,
    #89ba0d,
    #a8eb12
  );
  justify-content: left;
}

.header > a:hover {
  background: linear-gradient(
    to top left,
    #2d3705,
    #4b5f09,
    #6a8b0b,
    #89ba0d,
    #a8eb12
  );
}

.navbar {
  display: flex;
  justify-content: left;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline-flex;
  margin-left: 0.3vw;
  font-size: 1.5vh;
}

.navbar ul li a {
  padding: 0.8vw;
}

#selected-bar {
  background-image: linear-gradient(
    to left top,
    #cadd60,
    #f5d376,
    #ffcd9a,
    #ffcfbe,
    #f7d8d8
  );
}

#selected-bar:hover {
  background-image: linear-gradient(
    to right bottom,
    #cadd60,
    #f5d376,
    #ffcd9a,
    #ffcfbe,
    #f7d8d8
  );
}
